@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
$blue-gradient: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
$red-gradient: linear-gradient(45deg, #f43b47 0%, #453a94 100%);
$dark-gradient: linear-gradient(45deg, #09203f 0%, #537895 100%);